header {
    text-align: center;
    background: url("../images/header.png");
    padding: 1em 2em 4em 2em;
}

header img {
    border: 15px solid white;
}

h1 {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    margin-top: 0;
    margin-bottom: 0.75em;
}

nav {
    font-family: Abel;
    font-size: 1.5em;
    background: linear-gradient(180deg,#6DC3F2,#529CD3);
    border-radius: 0 !important;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 1em !important;
}

.navbar .navbar-nav {
 display: inline-block;
 float: none;
 vertical-align: top;
}

.navbar .navbar-collapse {
 text-align: center;
}

h3 {
    font-size: 1.5em;
    font-family: Oswald;
    margin: 1em 0;
}

#artcont {
    background: url("../images/fond.png");
    padding-bottom: 3em;
}

#artcont article span {
    font-weight: bold;
}

#artcont p {
    margin-top: 1em;
}

#artcont button {
background: linear-gradient(180deg,#FF3D00,#cd1515);
border: none;
border-radius: 5px;
color: white;
padding: 0.5em 1em;
}

#secont {
    background: url("../images/fond.png");
}

#secont section {
    background: url("../images/fond-article.png");
    width: 90%;
    display: flex;
    padding: 1em;
    margin: 1em;
}

#secont img {
    padding: 1em;
}

.artflex {
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
}

.artflex span {
    font-weight: bold;
    margin-bottom: 0.5em;
}

main {
    background: url("../images/fond.png");
}

h2 {
    margin: 0;
    font-size: 2.5em;
    font-family: Oswald;
    text-transform: uppercase;
    padding-top: 1.5em;
}

main span {
    color: #FF3D00;
    text-transform: uppercase;
}

main img {
    margin: 1em 0;
}

main button {
    background: linear-gradient(180deg,#FF3D00,#cd1515);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em;
}

.as1 {
    background: url("../images/fond.png");
}

h4 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: Oswald;
    margin: 0 0 1em 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
